body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrap_timer{
  text-align: center;
}

.wrap_timer_button{
  margin-top: 1%;
  width: 100px;
  height: 50px;
  background-color: white;
}

.wrap_timer_input{
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.wrap_timer_stopped{
  margin-left: 45.5%;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px lightskyblue solid;
}

.wrap_timer_stopped h3{
  margin-top: 45%;
  color: lightskyblue;
}

